<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessMonitorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PMonitorNbOfProcesses" value="1"/>

    <!-- 
    The names and friendlys names of the processes you want to monitor, separated by comma. You can choose the process name 
    from the Windows task manager. In this example, I will chose notepad. In windows, the process name does not contain .exe extension.
    -->
    <add key="PMonitorProcess1" value="Suna,Suna"/>
  </appSettings>
  <userSettings>
    <ProcessMonitorUI.Properties.Settings>
      <setting name="ProcessLocation" serializeAs="String">
        <value>C:\Users\tpaul\source\repos\BoehmTester\BoehmTrader\bin\Debug\suna.exe</value>
      </setting>
      <setting name="InfoFilesLocation" serializeAs="String">
        <value>C:\Users\tpaul\AppData\Local\BoehmTrader\BoehmTrader\1.0.0.0</value>
      </setting>
      <setting name="AuthInfoFilename" serializeAs="String">
        <value>AuthorizationDatas.xml</value>
      </setting>
      <setting name="DbFilename" serializeAs="String">
        <value>BoehmTraderDatabase.db</value>
      </setting>
    </ProcessMonitorUI.Properties.Settings>
  </userSettings>
</configuration>