<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PMonitorNbOfProcesses" value="1"/>

    <!-- 
    The names and friendlys names of the processes you want to monitor, separated by comma. You can choose the process name 
    from the Windows task manager. In this example, I will chose notepad. In windows, the process name does not contain .exe extension.
    -->
    <add key="PMonitorProcess1" value="BoehmTrader,BoehmTrader"/>
  </appSettings>
</configuration>